@model IEnumerable<LakeSighting> 


<style>
body{
    background-color:whitesmoke;
}
</style>


<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="">
                    
                    <th>Image</th>
                    <th>@Html.DisplayNameFor(model => model.Longitude)</th>
                    <th>@Html.DisplayNameFor(model => model.Latitude)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                   
                    @if (item.ImageData != null)
                {
                    string imageBase64 = Convert.ToBase64String(item.ImageData);
                    string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                    <img src="@imageSrc" alt="Lake Image" style="max-width: 200px; max-height: 150px;" />
                }
                else
                {
                    <span>No Image Available</span>
                }
                    
                    
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Latitude)

                    </td>
                     <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Lake.Name)

                    </td>
                    <td class="align-middle">
                    </td>
                    
                    @*}*@


                </tr>
                }



            </tbody>
        </table>

    </div>
</div>



