@model IEnumerable<LakeSighting> 


<style>
body{
    background-color:whitesmoke;
}
</style>


<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="">
                    
                    <th>Image</th>
                    <th>@Html.DisplayNameFor(model => model.Longitude)</th>
                    <th>@Html.DisplayNameFor(model => model.Latitude)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                <tr>
                    <td class="align-middle">
                   
                    @if (item.ImageData != null)
                {
                    string imageBase64 = Convert.ToBase64String(item.ImageData);
                    string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                    <img src="@imageSrc" alt="Lake Image" style="max-width: 200px; max-height: 150px;" />
                }
                else
                {
                    <span>No Image Available</span>
                }
                    
                    
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Latitude)

                    </td>
                     <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Lake.Name)

                    </td>
                     
                              <td class="align-middle">
            @if (User.Identity.IsAuthenticated)
            {
                <button class="like-button" data-lake-sighting-id="@item.Id">Like</button>
                <button class="unlike-button" data-like-id="0">Unlike</button> <!-- Initial value, will be updated in script -->
            
                <div class="lake-sighting">
    <!-- ... të dhënat e shenjimit të liqenit ... -->
   @* <button class="like-button" data-lake-sighting-id="@item.Id">Like</button>
    <span class="like-count">@item.LikeCount</span>*@
</div>
            
            
            }
            <span class="like-count" data-lake-sighting-id="@item.Id">@item.LikeCount Likes</span>
        </td>
                        
                    
                    @*}*@


                </tr>
                }



            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            function updateLikeCount(lakeSightingId, newLikeCount) {
                $(".like-count[data-lake-sighting-id='" + lakeSightingId + "']").text(newLikeCount + " Likes");
            }

            $(".like-button").click(function () {
                var lakeSightingId = $(this).data("lake-sighting-id");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("LikePost", "LakeSighting")",
                    data: { lakeSightingId: lakeSightingId },
                    dataType: "json", 
                    success: function (data) {
                        console.log("Success:", data);
                        updateLikeCount(lakeSightingId, data.likeCount);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                        console.log("Status:", status);
                        console.log("Response:", xhr.responseText);
                    }
                });
            });

            $(".unlike-button").click(function () {
                var lakeSightingId = $(this).data("lake-sighting-id");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UnlikePost", "LakeSighting")",
                    data: { likeId: lakeSightingId },
                    dataType: "json", 
                    success: function (data) {
                        console.log("Success:", data);
                        updateLikeCount(lakeSightingId, data.likeCount);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                        console.log("Status:", status);
                        console.log("Response:", xhr.responseText);
                    }
                });
            });
        });
    </script>
}



@*@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".like-button").on("click", function () {
                var lakeSightingId = $(this).data("lake-sighting-id");
                likeLakeSighting(lakeSightingId);
            });
        });

        function likeLakeSighting(lakeSightingId) {
            $.ajax({
                type: "POST",
                url: "/LakeSighting/LikePost",
                data: { lakeSightingId: lakeSightingId },
                success: function (data) {
                    if (data.likeCount !== undefined) {
                        $(".like-count").text(data.likeCount);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}*@